img {
    display: block;
    margin: 0 auto;
}
h1 {
    margin: 0 auto;
    padding: 20px 0;    
    color: #00539F;
    text-shadow: 3px 3px 1px black;
    text-align: center;
  }
p,ol
{
    font-size:16px;
    line-height:2;
    letter-spacing: 1px;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
html
{
    font:10px;
    font-family: 'MuseoModerno', cursive;
    background-color: #3FA5BF;
}